body {
  font-family: sans-serif;
}

.parent-div{
  background-color: #eee;
  height: 200px;
  width: 600px;
  margin: 32px auto;
  padding: 20px;
  transition: margin-top 0.5s 0s linear,  border-radius 0.5s 0s linear;
  -webkit-transition: margin-top 0.5s 0s linear,  border-radius 0.5s 0s linear;
  -moz-transition: margin-top 0.5s 0s linear,  border-radius 0.5s 0s linear;
  -ms-transition: margin-top 0.5s 0s linear,  border-radius 0.5s 0s linear;
  -o-transition: margin-top 0.5s 0s linear,  border-radius 0.5s 0s linear;
}

.parent-div:hover{
  margin-top: 0px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.parent-div:hover .p2 {
  margin-top: 32px;
}

.p1,.p2{
  text-align: center;
  font-size: 18px;
}

.p2{
  background-color: #ddd;
  padding: 20px;
  transition: margin-top 0.5s 0.5s linear;
  -webkit-transition: margin-top 0.5s 0.5s linear;
  -moz-transition: margin-top 0.5s 0.5s linear;
  -ms-transition: margin-top 0.5s 0.5s linear;
  -o-transition: margin-top 0.5s 0.5s linear;
}

.div-style{
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

.div-style:hover{
  width: 400px !important;
  font-size: 20px !important;
  margin: 20px auto;
  background-color: #eee !important;
  color: black !important;
  text-align: center;
  border: none !important;
}

:root {
  --mainColor: #009688;
  --mainPadding: 10px;
}

.test-var {
  padding: var(--mainPadding, 10px);
  border: 2px solid var(--mainColor, black);
  color: var(--mainColor, red);
  margin-bottom: var(--mainPadding, 10px);
}